body {
  background-image: url(/assets/image/dark-background.png);
  background-repeat: no-repeat;
  background-size:100vw 100vh;
}

.header {
  padding: 25px 30px;
}

.header__right {
  width: 120px;
}

.main__container {
  width: 80%;
  height: 100vh;
  margin-top: -80px;
  padding-top: 200px;
}

.introduce__first {
  font-size: 1.6rem;
  color: #fff;
}

.introduce__second {
  font-size: 60px;
  color: #fafafa;
  max-width: 1080px;
  margin: 30px 0;
  min-height: 180px;
}

.introduce__third {
  font-size: 30px;
  color: #e6e6e6;
  max-width: 1080px;
}

.main__projects {
  > div {
    height: 35vw;
  }

}

.footer {
  min-height: 300px;
  background: #eee;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, .6);
}

.overlay__container > div {
  position: relative;
  width: 150px;
  height: 150px;
  border: 1px solid #9e9e9e;
  cursor: pointer;

  > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
  }

  >div:last-child {
    display: none;
  }
}

.project__topbar {
  position:fixed;
  top:0;
  left:0;
  right: 0;
  height: 70px;
  background: #2f2f2f;
  z-index: 1;
}
