.icon {
  display: inline-block;
  width:25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
  opacity: 0.75;
}

.icon-theme {background-image: url(../icons/theme.svg);}
.icon-translation {background-image: url(../icons/translation.svg);}
