.icon {
  display: inline-block;
  width:25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
}

.icon-grid { background-image: url(../assets/icon/grid.svg);}
.icon-light { background-image: url(../assets/icon/light.svg);}
.icon-dark { background-image: url(../assets/icon/dark.svg);}
.icon-theme { background-image: url(../assets/icon/theme.svg);}
.icon-follow { background-image: url(../assets/icon/follow.svg);}
.icon-link { background-image: url(../assets/icon/link.svg);}
.icon-translate { background-image: url(../assets/icon/translate.svg);}
.icon-pullup { background-image: url(../assets/icon/pullup.svg);}

.icon-github { background-image: url(../assets/icon/github.svg);}
.icon-gitee { background-image: url(../assets/icon/gitee.svg);}
.icon-bilibili { background-image: url(../assets/icon/bilibili.svg);}

.icon-juejin { background-image: url(../assets/icon/juejin.svg);}
.icon-stackoverflow { background-image: url(../assets/icon/stackoverflow.svg);}
.icon-blog { background-image: url(../assets/icon/blog.svg);}

.icon-facebook { background-image: url(../assets/icon/facebook.svg);}
.icon-twitter { background-image: url(../assets/icon/twitter.svg);}
.icon-wechat { background-image: url(../assets/icon/wechat.svg);}

.icon-large { 
  width: 50px;
  height: 50px;
}
